@model BAYILERSATISPROJESI.Models.BayilerSet

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Giriş</title>
    <style>


        .field-validation-eror {
            color: red;
        }
    </style>
</head>
<body>
    
    <div id="myCarousel" class="carousel slide">


        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('/banzhow/img/arkaplan.jpeg');"></div>
                <div class="carousel-caption">
                    <div id="login-div" align="center">
                        @using (Html.BeginForm("BayiSinirlar", "Home", FormMethod.Post))
                        {
                        <table>
                            <tr>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.Ulke)</td>
                                <td>@Html.EditorFor(model => model.Ulke)</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>@Html.ValidationMessageFor(model => model.Ulke)</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.Sehir)</td>
                                <td>@Html.EditorFor(model => model.Sehir)</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>@Html.ValidationMessageFor(model => model.Sehir)</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.BayiId)</td>
                                <td>@Html.EditorFor(model => model.BayiId)</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>@Html.ValidationMessageFor(model => model.BayiId)</td>
                            </tr>

                            <tr>
                                <td>@Html.LabelFor(model => model.Sifre)</td>
                                <td>@Html.EditorFor(model => model.Sifre, new { htmlAttributes = new { @type = "Password" } })</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>@Html.ValidationMessageFor(model => model.Sifre)</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <label class="field-validation-eror">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <input type="submit" value="GİRİŞ" />

                                </td>
                            </tr>

                        </table>
                        }
                    </div>
                </div>
            </div>
        </div>

        <script src="~/Scripts/jquery-1.8.0.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    </div>



    <!-- Switcher -->
    <script type="text/javascript" src="js/switcher/switcher.js"></script>
    <link href="js/switcher/switcher.css" rel="stylesheet">



</body>
